:root {
  --primary-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */
.main-header-wrap {
  border-bottom: 1px solid #ececec;
}
/*
.footer,
.main-header,
.content {
  max-width: 1170px;
  margin: 0 auto;
}
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo,
.main-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}

.main-logo {
  color: #000000;
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer-logo .web,
.main-logo .web {
  color: var(--primary-color);
}

.main-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 32px;
  float: left;
}

.main-navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  margin: 25px;
}
.main-navigation-link:hover,
.main-contacts-link:hover,
.main-navigation-link.active {
  color: var(--primary-color);
}

.main-navigation-item {
  display: inline-block;
}
.main-navigation {
  display: inline-block;
}
.main-contacts-list {
  list-style-type: none;
  padding: 32px;
}

.main-contacts-item {
  display: inline-block;
}

.main-contacts-link {
  color: #757575;
  margin: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
}

/* footer */
.footer-wrap {
  background: #2f303a;
  color: #fff;
  padding: 60px 0;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo {
  color: #fff;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
}

.footer-address-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.footer-address-link.location {
  color: #fff;
}

.footer-address-link:hover {
  color: var(--primary-color);
}

.footer-address-list {
  padding-left: 0;
  margin: 0;
}

.address-item {
  list-style-type: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
